<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.dao.YzcBornRecordMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.common.entity.YzcBornRecord">
		<id column="id" property="id" />
		<result column="bor_time" property="bor_time" />
		<result column="bor_count" property="bor_count" />
		<result column="bor_live_count" property="bor_live_count" />
		<result column="bor_pre_id" property="bor_pre_id" />
		<result column="bor_bre_id" property="bor_bre_id" />
	</resultMap>

</mapper>
