<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.dao.YzcCleanRecordMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.common.entity.YzcCleanRecord">
		<id column="cle_id" property="cle_id" />
		<result column="cle_time" property="cle_time" />
		<result column="cle_cla_id" property="cle_cla_id" />
		<result column="cle_emp_id" property="cle_emp_id" />
		<result column="cle_desc" property="cle_desc" />
	</resultMap>

</mapper>
