<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.dao.YzcDealPigMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.common.entity.YzcDealPig">
		<id column="deal_id" property="deal_id" />
		<result column="deal_time" property="deal_time" />
		<result column="deal_price" property="deal_price" />
		<result column="deal_weight" property="deal_weight" />
		<result column="deal_ear" property="deal_ear" />
		<result column="order_uuid" property="order_uuid" />
		<result column="deal_buy_sell" property="deal_buy_sell" />
	</resultMap>

</mapper>
