<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.dao.YzcFeedRecordMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.common.entity.YzcFeedRecord">
		<id column="id" property="id" />
		<result column="fee_time" property="fee_time" />
		<result column="fee_class" property="fee_class" />
		<result column="fee_count" property="fee_count" />
		<result column="fee_fes_id" property="fee_fes_id" />
	</resultMap>

</mapper>
