<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.dao.YzcRepairRecordMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.common.entity.YzcRepairRecord">
		<id column="rep_id" property="rep_id" />
		<result column="rep_cla_id" property="rep_cla_id" />
		<result column="rep_desc" property="rep_desc" />
		<result column="rep_found_tine" property="rep_found_tine" />
		<result column="rep_time" property="rep_time" />
		<result column="rep_result" property="rep_result" />
		<result column="rep_emp_id" property="rep_emp_id" />
		<result column="rep_spend" property="rep_spend" />
	</resultMap>

</mapper>
