<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.dao.YzcStepMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.common.entity.YzcStep">
		<id column="id" property="id" />
		<result column="step_name" property="step_name" />
		<result column="step_period" property="step_period" />
		<result column="step_desc" property="step_desc" />
	</resultMap>

</mapper>
